body{
    /* COMP 23E BACKGROUND COLOR */
    background: #fffff0;
}

/* COMP 22C-2 . */

.body-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header{
    height: auto;
    text-align: center;
    margin-bottom: 50px;
}

/* COMP 22C-1 # */

#article-header{
    width:50vw;
    height:75px;
}

.navbar{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

a {
    /* COMP 24C MARGIN */
    margin: 5px;
    text-decoration: none;
    color: red;
}

/* */

a:hover {
    color: orange;
}

a:active {
    color: blue;
}

a:visited {
    color: green;
}

.divider{
    height: 70vh;
}

h3 {
    display: flex;
    justify-content: center;
}
/* */

.video-grid{
    display: grid;
    justify-content: center;
    grid-template-columns: 30vw 30vw;
    grid-template-rows: 100px;
    grid-column-gap: 20px;
    grid-row-gap: 250px;
    width: 80vw;
    height: auto;
}

#video1 {
    grid-column-start: 1;
    grid-row-start: 1;
}

#video2 {
    grid-column-start: 2;
    grid-row-start: 1;
}

#video3 {
    grid-column-start: 1;
    grid-row-start: 2;
}

#video4 {
    grid-column-start: 2;
    grid-row-start: 2;
}

.audio-box{
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

audio{
    margin: 5px;
}


.image-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

li{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    margin: 10px;
    color: darkgrey;
}

/* COMP 22C-5 + */

li + img + li {
    color: orange;
}

li + img + li + img + li {
    color: green;
}

li + img + li + img + li + img + li {
    color: purple;
}

img {
    margin-bottom: 10px;
    width: 500px;

}

.contact-body {
    width: 50vw;
    height: auto;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}

/* COMP 22C-4 SPACE*/

.contact-body img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    float: left;
}

.linkedin {
    float: right;
}

/* COMP 25C FIXED*/

.fixed {
    position: fixed;
    top: 50px;
    left: 100px;
}


/* COMP 25C ABSOLUTE*/

.code-skillz {
    position: absolute;
    top: 700px;
    left: 100px;
    /* COMP 23F BACKGROUND IMAGE*/
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/DNA_palindrome.svg/600px-DNA_palindrome.svg.png');
    /* COMP 24F BOX-SIZING */
    box-sizing: border-box;
    width: 700px;
    height: 300px;
    padding: 5px;
    margin-bottom: 100px;
    /* COMP 24D BORDER */
    border: 1px solid black;
    /* COMP 24E PADDING */
    background-repeat: no-repeat;
}

/* COMP 22C-3 > */
/* COMP 25C RELATIVE*/
.code-skillz > h4 {
    /* COMP 23D FONT */
    position: relative;
    left: 3px;
    font-family: sans-serif;
    text-shadow: 2px 2px black;
    color: #bada55;
    font-size: 30px;
}